body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    background-color: grey;
}

#text-input-section {
    padding: 2rem;
    background-color: rgb(116, 121, 125);
    border-radius: 10px;
}

#result-section {
    padding: 1rem;
    background-color: rgb(116, 121, 125);
    display: none;
    border-radius: 10px;
}